<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
      <ion-toolbar>
        <ion-grid [fixed]="true">
          <ion-row class="ion-align-items-start">

          <ion-col> 
            <ion-back-button default-href="#" text = ""></ion-back-button>
        </ion-col>

        <ion-col>
          <ion-img src = "../../../../assets/icon/forkfull-titleonly.png" style="width:95px;" >
          </ion-img>
        </ion-col>

        <ion-col> 
          <ion-img src = "../../../../assets/icon/blank.png" style="width:100px; height: 20px;">
            </ion-img>
            </ion-col>
      </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gimbap</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img alt="Gimbap" src="https://images.getrecipekit.com/20240207034607-andy-20cooks-20-20gimbap.jpg?aspect_ratio=16:9&quality=90&"   height="200px" style="height:300px; width: 300px; object-fit: cover; border-radius: 20px"/>
      <ion-chip>Top rated</ion-chip>
      <ion-chip>IG famous</ion-chip>
      <br><br>

      <h1>Ingredients</h1>
      <b>Serves 2-3 (5 rolls)</b><br>
      <ul>
        <li>5 sheets of gim</li>
        <li>4 cups of cooked rice</li>
        <li>3 eggs</li>
        <li> 1 large carrot</li>
        <li>1 pack of crab stick</li>
        </ul><br>

        <h1>Directions</h1><br>

        <h2><b>Rice</b></h2>  
      <ol>
        <li>Place freshly made rice in a large, shallow bowl. Gently mix in 1/2 teaspoon salt and 2 teaspoons toasted sesame oil over top with a rice scoop or a wooden spoon.</li>
      <li>Let it cool down enough so it’s no longer steaming. Cover and set aside.</li>
      </ol>

      <h2><b>Spinach</b></h2>  
      <ol>
        <li>Combine the blanched spinach, 2 minced garlic cloves, ½ teaspoon kosher salt, and 2 teaspoons toasted sesame oil in a bowl.</li>
      <li>Mix well by hand and put it on a large platter with the sliced yellow pickled radish.</li>
      </ol>

      <h2><b>Steaks</b></h2>  
      <ol>
        <li>Trim the fat from the skirt steaks and slice into ¼ inch wide, 3 to 5 inch strips. Put the strips into a bowl. Add 2 teaspoons soy sauce, 1 minced garlic clove, ¼ teaspoon ground black pepper,1 tablespoon plus 1 teaspoon brown (or white) sugar, and 2 teaspoons toasted sesame oil.</li>
      <li>Mix well by hand.</li>
      </ol>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <a href = "add-recipe1">
            <ion-button color = "primary">SAVE</ion-button>
          </a>
          </ion-col>
          </ion-row>
          </ion-grid>  


      </ion-card-content>
  </ion-card>

</ion-content>


<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <a href = "add-recipe1"><ion-button>
            <ion-icon name="home-outline"></ion-icon>
          </ion-button></a>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <a href = "add-recipe1"><ion-button>
            <ion-icon name="search-outline"></ion-icon>
          </ion-button></a>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <a href = "recipe-page"><ion-button>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button></a>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <a href = ""><ion-button>
            <ion-icon name="book-outline"></ion-icon>
          </ion-button></a>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <a href = ""><ion-button>
            <ion-icon name="person-outline"></ion-icon>
          </ion-button></a>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-footer>
