ion-chip {
    --background: #8d9f71;
    --color: #15110c;
  }

h1 {
    align-items: center;
  }

  ion-footer {
    background: #fcfcfc;
    --border-color: #fcfcfc;
    --padding-top: 10px;
    --padding-bottom: 10px;
    -webkit-margin-start: 10px;
  }
